.services {
  display: flex;
  margin-top: 150px;
}

.services-icon {
  display: flex;
  align-items: center;
}

.services-icon svg {
  position: absolute;
}

.services-icon svg:nth-child(2) {
  margin-left: 195px;
}
.services-icon img {
  position: relative;
}


@media only screen and (max-width:1024px){
  .services{
    flex-direction: column;
    align-items: center;
    margin-top: 500px;
  }

}


@media only screen and (max-width:430px) {
  .services{
    margin-top: 1000px;
  }
  
  .services-icon svg{
display:none;
  }

  .services-icon img {
    width: 200px;
  }
}