.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 50px;
}

.header-logo h1, .header-navigation  li{
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header-navigation ul {
    display: flex;
  flex-direction: row;
  align-items: center;
  }
  
  .header-navigation ul li {
    list-style: none;
    margin-left: 50px;
  }


  .header-navigation :hover     li {
    text-decoration: underline;
    text-decoration-color: #F1BC00;
  }


 

  @media only screen and (max-width: 1200px) {
    .header-navigation ul li {
        margin-left: 40px; /* Уменьшаем отступ между элементами списка */
    }
}

@media only screen and (max-width: 1024px) {
  .header-navigation ul li {
      margin-left: 20px; /* Уменьшаем отступ между элементами списка */
  }
}


@media only screen and (max-width:430px){
  .header{
    flex-direction: column;
  }

  .header-navigation{
    margin-top: 15px;
  }
}
