.blog-title {
  display: flex;
  justify-content: center;
  margin-top: 148px;
}

.blog-title h2 {
  color: #000;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 45px;
  font-style: normal;
  line-height: normal;
  width: 482px;
  margin-bottom: 50px;
}

.blog-cards {
  display: flex;
  justify-content: center;
}

.blog-pic {
  background-image: url(../../assets/svg/back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: contain;
}

.blog-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-card p {
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .blog-cards {
    flex-direction: column;
  }

  .blog-card p {
    width: 100%;
  }

  .blog-text {
    display: flex;
    flex-direction: column;
  }
}
