.container-sale h1 {
  color: #000;
  font-family: DM Serif Display;
  font-size: 45px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

.container-sale-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-sale-brands {
  margin-top: 150px;
}

.container-sale-brands h1 {
  color: #000;
  font-family: DM Serif Display;
  font-size: 45px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.container-sale-brands h4 {
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-decoration-line: underline;
  text-decoration-color: #f1bc00;
  margin-top: 50px;
}
.brands {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



@media screen and (max-width: 1024px) {
  .container-sale h1 {
    margin-bottom: 20px;
  }
  .container-sale-card {
    flex-direction: column;
    align-items: center;
  }
}


@media only screen and (max-width:430px){
  .brands{
    flex-direction: column;
  }
}