.book {
  background: #c4c4c4;
  width: 1296px;
  height: 315px;
}

.book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.book-text h1 {
  color: #081630;
  font-family: DM Serif Display;
  font-size: 39px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  padding-top: 23px;
}

.book-text p {
  color: rgba(0, 0, 0, 0.66);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 680px;
}
